<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<h1>Galabank Order System</h1>
<h3>Welcome to Galabank Order System. Here you can: enter an order as CSV and submit to the order capture system</h3>

<div id="root"></div>

<link rel="stylesheet" href="/orderCapture/index.css" />

<!-- Load our React component. -->
<script src="/orderCapture/index.js" type="text/babel"></script>

</body>
</html>